[broker]
url = "tcp://broker"
clientId = "mqtt-json-logger"
username = "username"
password = "password"

[[topics]]
topic = "topic1/#"
path = "topic1.log"

[[topics]]
topic = "topic2/#"
path = "topic2.log"
